[Unit]
Description=AI VJ Engine for LedFx Control
Requires=led-driver-loader.service
After=network-online.target sound.target led-driver-loader.service

[Service]
Type=simple
ExecStart=/home/tmart234/ledfx_venv/bin/python /home/tmart234/pi_5_ledfx/ai_vj_engine.py
User=tmart234
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
