[Unit]
Description=Load Custom WS281x Driver for Raspberry Pi 5
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/load_led_driver.sh
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
